<div class="container-fluid">

<div class="centered">
<h1 class="static-font">About</h1>
<h5 class="static-sub-font">Game Snap is a site dedicated to the fan art of your favourite games</h5>
</div>
</div>