<div class="container-fluid">
 
  <div class="centered">
    <h1 class="static-font"><%= link_to "GameSnap", new_user_session_path, :style=>'text-decoration:none;'%></h1>
    <h5 class="static-sub-font">The Art Of Games</h5>
    <!-- <button class="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i> Sign in with Facebook</button>
    <button class="twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i> Sign in with Twitter</button> -->

  </div>
</div>