@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 margin: 0 auto;
 color: white;
 background-color: grey;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.container-fluid {
 width: 100%;
 height: 100vh;
 background: url('tetris.jpg') no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.login-box{
  width:50%;
  height:auto;
}
.register-box{
  width:50%;
  height:auto;
}
.forgot-password{
  width:50%;
  height:auto;
  padding:10px auto;
  text-align: center;
}
.form-control{
  font-family: 'Cairo', sans-serif;
}
.static-font{
font-family: 'Bungee Inline', cursive;
font-size: 80px;
color: #228DFF;
 -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
 -moz-animation: neon2 1.5s ease-in-out infinite alternate;
 animation: neon2 1.5s ease-in-out infinite alternate;
 
}



@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}


.static-sub-font{
  font-family: 'Bungee Inline', cursive;
  color: #FF9900;
  font-size: 30px;
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
.static-register-font{
  font-family: 'Bungee Inline', cursive;
  color: #BA01FF;
  font-size: 15px;

   -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;

}
@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
// .shader {
//   width: 100%;
//   height: 100vh;
  
//   position: absolute;
//   background: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
//   z-index: 1;
  
// }


.centered {
  
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
   transform: translate(-50%,-50%);
   z-index: 2;
   max-width: 100%;
}
.facebook { 
  background: #435f9c; 
}
.twitter  { 
  background: #00aced; 
}
.card-title{
  color: black;
}
.card-text{
  color: black;
}
h1 {
  color: white;
}
h5 {
  color:white;
}
button {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;

  margin: 5px;
  border-radius: 5px;
  padding: 10px 20px;
}


.nav-item {
 margin-top: 7px;
}

.card {
text-align: center;
}
// .card-columns {
//   @include media-breakpoint-only(lg) {
//     column-count: 3;
//   }
//   @include media-breakpoint-only(xl) {
//     column-count: 4;
//   }
// }
#user-card{
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 15%;

}
.comment {
  width: 30%;
  display: inline-block;
  margin: 5px auto;
  text-align: center;
}
.new-comment{
 
  width:40%;
  margin: 5px 5px;
  float: right;
}
.comment-container{
  width:100%;
  height: auto;
  background-color: blue;
  display: inline-block;
  border: 1px solid black;
  border-radius: 1%;

}
#image-card{
  max-width: 100%;
  height: auto;
  display: inline-block;
  border: transparent;
  background-color: transparent;

}
#image-show-card img{
  max-width: 100%;
  height: auto;
  border:transparent;
}


.search-box {
  display: inline-block;

}
img {
  border-radius: 1%;
}