@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 margin: 0 auto;
 color: black;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
footer{
  background-color:#02c4ae;
  text-align: center;
  font-family: 'Cairo', sans-serif;
  color: #FF9900;
    font-size: 20px;
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
      -moz-animation: neon5 1.5s ease-in-out infinite alternate;
      animation: neon5 1.5s ease-in-out infinite alternate;
  
}

nav.navbar.navbar-light.bg-faded {
  background-color:  #02c4ae;
  // -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
  //   -moz-animation: neon5 1.5s ease-in-out infinite alternate;
  //   animation: neon5 1.5s ease-in-out infinite alternate;

  }

li.nav-item{

  font-size:25px;
}
  
.container-fluid {
 width: 100%;
 height: 100vh;
 background: url(tetris.jpg) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.login-box{
  width:50%;
  height:auto;
}
.register-box{
  width:50%;
  height:auto;
}
.forgot-password{
  width:50%;
  height:auto;
  padding:10px auto;
  text-align: center;
}
.form-control{
  font-family: 'Cairo', sans-serif;

}
.form-group{
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}
.label-checkbox{
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 20px;

}
.new-label{
  font-size: 25px;
  font-weight: 700;
}

.checkbox-list input[type="checkbox"] {
 
  display: inline-block;
  width: 10%;
}

.checkbox-list input[type="checkbox"] + label {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  margin-left: 10%;
  width: 80%;
}




.static-font{

font-family: 'Bungee Inline', cursive;
font-size: 60px;
color: #228DFF;
 -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
 -moz-animation: neon2 1.5s ease-in-out infinite alternate;
 animation: neon2 1.5s ease-in-out infinite alternate;
 
}



@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}


.static-sub-font{
  font-family: 'Bungee Inline', cursive;
  color: #FF9900;
  font-size: 25px;
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
.static-register-font{
  font-family: 'Bungee Inline', cursive;
  color: #BA01FF;
  font-size: 15px;

   -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;

}
@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
// .shader {
//   width: 100%;
//   height: 100vh;
  
//   position: absolute;
//   background: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
//   z-index: 1;
  
// }


.centered {
  
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
   transform: translate(-50%,-50%);
   z-index: 2;
   max-width: 100%;
}
.facebook { 
  background: #435f9c;
  color: #fff; 
}
.twitter  { 
  background: #00aced; 
  color: #fff; 
}
.card-title{
  color: black;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 40px;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;

}
.card-text{
  color: black;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 30px;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}
h1 {
  color: white;
  font-family: 'Cairo', sans-serif;
}
h5 {
  color:white;
  font-family: 'Cairo', sans-serif;
}
button {
  cursor: pointer;
  background: none;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 600;

  margin: 5px;
  border-radius: 5px;
  padding: 10px 20px;
}
.navbar-brand{
  font-family: 'Cairo', cursive;
  font-weight:700;
  font-size: 30px;
  color: #228DFF;
   -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
   -moz-animation: neon2 1.5s ease-in-out infinite alternate;
   animation: neon2 1.5s ease-in-out infinite alternate;
}

.nav-item-dropdown {

 font-family: 'Cairo', sans-serif;
 font-weight:900;
 display:inline-block;
 // color: black;
 
 margin-left:1%;
}
.dropdown-menu{
  margin-left: 12%;
  font-family: 'Cairo', sans-serif;
  // width: 150px;
  font-weight: 600;

}

.card {
text-align: center;
font-family: 'Cairo', sans-serif;
}
.card-block{
  display:inline-block;
}

#user-card{
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 15%;
  border-style: none;
  background-color: transparent;
  font-family: 'Cairo', sans-serif;

}
.comment {
  font-size: 20px;

  display: inline-block;
  margin: 5px auto;
  text-align: center;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}
.new-comment{
 text-align: center;
  // float: right;
  max-width: 100%;
  height: auto;
  font-family: 'Cairo', sans-serif;
}
.comment-container{
  width:100%;
  height: auto;
  background-color: transparent;
  display: inline-block;
  text-align: center;
}
#image-card{
  max-width: 100%;
  height: auto;
  display: inline-block;
  border: transparent;
  background-color: transparent;
  font-family: 'Cairo', sans-serif;
  color: black;

}
#image-show-card{
  width:100%;
  height: auto;
  font-family: 'Cairo', sans-serif;
  border-style: none;
  background-color: transparent;
  
}
#image-show-card img{
  max-width: 100%;
  height: auto;

}


.search-box {
  font-family: 'Cairo', sans-serif;
  display: inline-block;
margin-left:20%;

}
img {
  border-radius: 1%;
}
.new-post{
  width: 100%;
  height: auto;
  background: url(bleurgh.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.edit-user{
  width: 100%;
  height: auto;

  background: url(booty3.png) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.user-show{
  width: 100%;
  height: auto;
  background: url(abstract.jpg) center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.static-header-font{
  font-family: 'Cairo', cursive;
  font-weight: 700;
  color: #02c4ae;
  font-size: 25px;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}
